
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Roboto&display=swap');

/* font-family: 'Noto Sans KR', sans-serif;
font-family: 'Roboto', sans-serif; */

/* Universal */

html {
  font-size: 16px;
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  max-width: 1360px;
  margin: 0 auto;
  border: 1px solid lightgray;
}

h1, h2, h3, h4, h5, h6, p, a {
  margin-top: 0;
  margin-bottom: 0;
}

h1, h2, h3, span {  
  font-family: 'Roboto', sans-serif; 
}

h1, h2, h3 {
  color: rgb(54, 53, 53);
}

p {
  color: gray;
  font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif; 
}

.center {
  text-align: center;
}

.width70 {
  width: 70%;
}

/* Header section and nav items */

.header-container {
  position: sticky;
  width: 100%;
  z-index: 100;
  top: 0;
  margin: 0 auto;
  
}

header {
  position: relative;
  max-width: 100%;
  height: 64px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
 background-color: white;
}

.logo {
    display: inline-flex;
    height: 32px;
    margin-left: 24px;
    align-items: center;
}

.logo span {
    text-transform: uppercase;
    color: gray;
    letter-spacing: 2px;
}

span .name-id {
    color: rgb(82, 72, 72);
}

nav {
    margin-right: 24px;
}

.nav-item {
  display: inline-block;
  position: relative;
  padding-right: 16px;
  color: gray;
  
}

header .mobile {
  display: none;
}



/* Mobile View - Header */

@media only screen and (max-width: 600px) {

  header .desktop {
    display: none;
  }

  header .logo {
    display: none;
  }

  header .mobile {
    display: inline-flex;
    width:  100%;
    justify-content: space-around;
    margin:  0 auto;
    align-items: center;
  }

}

/* End of Mobi§le View - Header */

/* Hero Container with leading image and button */


.hero-container {
    display: flex;  
    background-color: rgb(228, 225, 225);   
}

.hero-img {
  max-width: 60%;
  padding: 32px 24px;
}


.hero-img img {
  max-width: 100%;
}

.hero-content {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.hero-content h1 {
    font-size: 2.5rem;
   
    margin: 16px;
}

.hero-content p {
    font-size: 1.5rem;
    margin: 16px;
   
}

.hero-content .button {
    background-color: rgba(0, 0, 0, 0.712);
    border: none;
    color: whitesmoke;
    padding: 16px;
    text-align: center;
    font-size: large;
    margin: 16px;
  
}

@media only screen and (max-width: 768px) {

  .hero-content h1 {
    font-size: 2rem;
    width: 90%;
  }

  .hero-content p {
    font-size: 1.2rem;
  }

 
}

/* Mobie View - Hero Container */

@media only screen and (max-width: 600px) {
  .hero-container {
    display: block;
    margin: 0 auto;
  }

 .hero-img {
   max-width: 100%;
   padding: 32px 16px;
 }

 .hero-content {
   max-width: 100%;
   padding: 0 16px 32px;
 }

 .hero-content h1 {
  margin: 0;
  padding-bottom: 32px;
  width: 90%;
  font-size: 2rem;
}

.hero-content p {
  margin: 0;
  width: 90%;
  padding-bottom: 24px;
  font-size: 1.3rem;
}

.hero-content .button {
  margin: 0;
  width: 90%;
  font-size: 1.1rem;
  background-color: rgba(116, 113, 113, 0.712)
}

}

/* End of Mobile View - Hero Container */

/* Main container with 2 columns and flexbox: container-one and container-two */


.flex-container {
  display: inline-flex;
  margin: 0 5px;
}
/* Left side div in the Main container */

.container-one {
  max-width: 60%;
  padding: 32px 24px; 
}

.container-one img {
  max-width: 100%; 
}

.container-one-content h2{
  margin: 32px 0 24px;
  font-size: 2rem;
}

.container-one-content .cite {
  margin-top: 32px;
}

/* Aside divs in the main container - Right Side */

.container-two {
  max-width: 40%;
  padding: 16px 0 32px;
  border-left: 1px solid rgb(228, 227, 227);
  
}


.info-banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 4px solid rgb(228, 227, 227);
  padding: 16px;
 
}

.info-image {
  flex-basis: 35%;
}

.info-image img {
  width: 100%;
  height: auto;
}

.container-two-content {
  padding-left: 16px;
  flex-basis: 65%;
  padding-right: 24px;

}

.container-two-content h3 {
  font-size: 1.75rem;
  margin-bottom: 8px;
}

.container-two-content a {
  color: blue;
}

.gray-card {
  background-color: rgb(240, 240, 240);
}

.container-two-mob {
  display: none;
}

/* Tablet View - Main Container */

@media only screen and (max-width: 768px) {
  .container-one h2 {
    font-size: 1.5rem;
  }

  .container-two-content {
    padding-right: 8px;
  }

  .container-two h3 {
    font-size: 1.2rem;
  }

  .container-two p {
    font-size: 0.9rem;;
  }

}

/* Mobile View - Main container */


@media only screen and (max-width: 600px) {

  .flex-container {
    margin: 0 auto;
  }

  .container-one {
    display: none;
  }

  .container-two {
    display: none;
  }

  .container-two-mob {
    max-width: 100%;
    display: block;
  }

  .info-banner {
    flex-direction: column;
   align-items: flex-start;
   border: none;   
  }
  
  .info-image {
    display: block;
    max-width: 100%;
    height: auto;
    padding-bottom: 32px;
  }

  .container-two-content {
    flex-basis: 100%;
    padding: 0 32px 0 16px;    
  }

  .container-two-content h3{
    font-size: 1.5rem;
  }

  .container-two-content p {
    margin-bottom: 8px;
  }
}

/* Cards container with 6 articles/cards flexbox */

.cards-container {
  background-color: rgba(226, 226, 226, 0.849);
}

.cards {
  display: inline-flex;
  max-width: 100%;
  padding: 32px 72px;
  margin: 0 auto;
  flex-wrap: wrap; 
  justify-content: space-evenly;
}

.cards-title {
  
  padding-top: 32px;

}

.cards-title h2 {
  font-size: 2rem;
}

.card {
  width: 30%;
  margin-bottom:32px;
  background-color: white;
}

.card img {
  width: 100%;
  height: auto;
}

.card .card-content {
  padding: 0 32px 24px 16px;
}

.card-content h3 {
  font-size: 1.5rem;

}

.card-content .subtitle {
  text-transform: uppercase;
  margin: 8px 0;
}

/* Table View - Cards containers - 6 cards */

@media only screen and (max-width: 768px) {

  .cards {
    padding: 16px;
  }

  .card-content h3 {
    font-size: 1.2rem;
  }

  .card-content p {
    font-size: 0.9rem;
  }
}

/* Mobile View - Cards containers - no images - Only headings */

@media only screen and (max-width: 600px) {

  .cards-container {
    background-color: white;
  }

  .cards-title h2 {
    padding-bottom: 16px;
  }

  .cards {
    display: block;
    max-width: 100%;
    padding: 16px 16px 32px;  
  }


  .card .nodisplay {
  display: none;
}

  .card {
  background-color: lightgray;
  min-width: 100%;
  margin-bottom: 8px;
}

.card .card-content {
  padding: 24px;  
}

  .card-content h3 {
  font-size: 1.35rem;
}
  
}

/* Thesis Exhibits section with video and side banners */

.flex-container-video {
  display: inline-flex;
  margin: 0 5px;
}

.container-one-video {
  max-width: 60%;
  padding: 32px 24px;
  
}

.container-four {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  padding: 32px 0 32px;
  
}

.container-four-content {
  padding-left: 16px;
  flex-basis: 65%;
  padding-right: 24px;
}

.container-four-content h3 {
  font-size: 1.75rem;
  margin-bottom: 8px;
}

.gray-card {
  background-color: rgb(240, 240, 240);
}

.no-border {
  border-style: none;
}

/* Tablet View - Video section */

@media only screen and (max-width: 768px) {

  .container-one-video h2 {
    font-size: 1.75;
  }

  .container-four-content h3 {
    font-size: 1.2rem;
  }

  .container-four-content p {
    font-size: 1rem;
  }

}

/* Mobile View - Thesis Exhibit Section  */

@media only screen and (max-width: 600px) {
.flex-container-video {
  margin: 0;
}

  .flex-container-video .container-one-content {
    display: none;
  }

  .container-four {
    display: none;
  }

  .container-one-video {
    max-width: 100%;
    padding: 16px 0 24px;
  }

}

/* Footer */

footer {
  position: relative;
  max-width: 100%;
  height: 64px;
  margin: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-top: 1px solid lightgray;
}

/* Mobile View- Footer */

@media only screen and (max-width: 600px) {
  footer {
    border: none;
  }
  .footer-nav {
    display: none;
    
  }
  }

  